<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../public/layout/head") %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <title>Tryb developerski</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Source+Code+Pro:ital,wght@0,500;0,600;1,600&display=swap" rel="stylesheet">
    </head>
<body>
    <%- include("../public/layout/body") %>
    <main class="for">
        <%- include("../public/layout/flash") %>
        <% for(let p of promo) {%>
            <div class="container text-center mb-3">
                <div class="row">
                <div class="col">
                    Kod promocyjny: <%= p.promoCode %>
                </div>
                <div class="col">
                    Wartość kodu: <%= p.value %>%
                </div>
                <div class="col">
                    <a href="/developerProducts/promoCode/<%= p._id %>"><button class="btn btn-warning">Edytuj kod</button></a>
                </div>
                </div>
            </div>
        <% } %>
        <a href="/developerProducts/promoCode" style="text-align: center;">Powrót</a> 
    </main>
</body>
</html>
